In [1]:
scores = [ { 'Chemistry': 78,
    'CityTown': 'Erode',
    'DateOfBirth': '7 Nov',
    'Gender': 'M',
    'Mathematics': 68,
    'Name': 'Bhuvanesh',
    'Physics': 64,
    'SeqNo': 0,
    'Total': 210},

  { 'Chemistry': 91,
    'CityTown': 'Salem',
    'DateOfBirth': '3 Jun',
    'Gender': 'M',
    'Mathematics': 62,
    'Name': 'Harish',
    'Physics': 45,
    'SeqNo': 1,
    'Total': 198},

  { 'Chemistry': 77,
    'CityTown': 'Chennai',
    'DateOfBirth': '4 Jan',
    'Gender': 'M',
    'Mathematics': 57,
    'Name': 'Shashank',
    'Physics': 54,
    'SeqNo': 2,
    'Total': 188},

  { 'Chemistry': 78,
    'CityTown': 'Chennai',
    'DateOfBirth': '5 May',
    'Gender': 'F',
    'Mathematics': 42,
    'Name': 'Rida',
    'Physics': 53,
    'SeqNo': 3,
    'Total': 173},

  { 'Chemistry': 89,
    'CityTown': 'Madurai',
    'DateOfBirth': '17 Nov',
    'Gender': 'F',
    'Mathematics': 87,
    'Name': 'Ritika',
    'Physics': 64,
    'SeqNo': 4,
    'Total': 240},

  { 'Chemistry': 84,
    'CityTown': 'Chennai',
    'DateOfBirth': '8 Feb',
    'Gender': 'F',
    'Mathematics': 71,
    'Name': 'Akshaya',
    'Physics': 92,
    'SeqNo': 5,
    'Total': 247},

  { 'Chemistry': 87,
    'CityTown': 'Ambur',
    'DateOfBirth': '23 Mar',
    'Gender': 'M',
    'Mathematics': 81,
    'Name': 'Sameer',
    'Physics': 82,
    'SeqNo': 6,
    'Total': 250},

  { 'Chemistry': 76,
    'CityTown': 'Vellore',
    'DateOfBirth': '15 Mar',
    'Gender': 'M',
    'Mathematics': 84,
    'Name': 'Aditya',
    'Physics': 92,
    'SeqNo': 7,
    'Total': 252},

  { 'Chemistry': 51,
    'CityTown': 'Bengaluru',
    'DateOfBirth': '28 Feb',
    'Gender': 'M',
    'Mathematics': 74,
    'Name': 'Surya',
    'Physics': 64,
    'SeqNo': 8,
    'Total': 189},

  { 'Chemistry': 73,
    'CityTown': 'Bengaluru',
    'DateOfBirth': '6 Dec',
    'Gender': 'M',
    'Mathematics': 63,
    'Name': 'Clarence',
    'Physics': 88,
    'SeqNo': 9,
    'Total': 224},

  { 'Chemistry': 68,
    'CityTown': 'Chennai',
    'DateOfBirth': '12 Jan',
    'Gender': 'F',
    'Mathematics': 64,
    'Name': 'Kavya',
    'Physics': 72,
    'SeqNo': 10,
    'Total': 204},

  { 'Chemistry': 92,
    'CityTown': 'Bengaluru',
    'DateOfBirth': '30 Apr',
    'Gender': 'M',
    'Mathematics': 97,
    'Name': 'Rahul',
    'Physics': 92,
    'SeqNo': 11,
    'Total': 281},

  { 'Chemistry': 71,
    'CityTown': 'Chennai',
    'DateOfBirth': '14 Jan',
    'Gender': 'F',
    'Mathematics': 52,
    'Name': 'Srinidhi',
    'Physics': 64,
    'SeqNo': 12,
    'Total': 187},

  { 'Chemistry': 89,
    'CityTown': 'Madurai',
    'DateOfBirth': '6 May',
    'Gender': 'M',
    'Mathematics': 65,
    'Name': 'Gopi',
    'Physics': 73,
    'SeqNo': 13,
    'Total': 227},

  { 'Chemistry': 93,
    'CityTown': 'Trichy',
    'DateOfBirth': '23 July',
    'Gender': 'F',
    'Mathematics': 89,
    'Name': 'Sophia',
    'Physics': 62,
    'SeqNo': 14,
    'Total': 244},

  { 'Chemistry': 90,
    'CityTown': 'Theni',
    'DateOfBirth': '22 Sep',
    'Gender': 'F',
    'Mathematics': 76,
    'Name': 'Goutami',
    'Physics': 58,
    'SeqNo': 15,
    'Total': 224},

  { 'Chemistry': 43,
    'CityTown': 'Trichy',
    'DateOfBirth': '30 Dec',
    'Gender': 'M',
    'Mathematics': 87,
    'Name': 'Tauseef',
    'Physics': 86,
    'SeqNo': 16,
    'Total': 216},

  { 'Chemistry': 67,
    'CityTown': 'Chennai',
    'DateOfBirth': '14 Dec',
    'Gender': 'M',
    'Mathematics': 62,
    'Name': 'Arshad',
    'Physics': 81,
    'SeqNo': 17,
    'Total': 210},

  { 'Chemistry': 97,
    'CityTown': 'Erode',
    'DateOfBirth': '9 Oct',
    'Gender': 'F',
    'Mathematics': 72,
    'Name': 'Abirami',
    'Physics': 92,
    'SeqNo': 18,
    'Total': 261},

  { 'Chemistry': 62,
    'CityTown': 'Trichy',
    'DateOfBirth': '30 Aug',
    'Gender': 'M',
    'Mathematics': 56,
    'Name': 'Vetrivel',
    'Physics': 78,
    'SeqNo': 19,
    'Total': 196},

  { 'Chemistry': 91,
    'CityTown': 'Vellore',
    'DateOfBirth': '17 Sep',
    'Gender': 'M',
    'Mathematics': 93,
    'Name': 'Kalyan',
    'Physics': 68,
    'SeqNo': 20,
    'Total': 252},

  { 'Chemistry': 74,
    'CityTown': 'Bengaluru',
    'DateOfBirth': '15 Mar',
    'Gender': 'F',
    'Mathematics': 78,
    'Name': 'Monika',
    'Physics': 69,
    'SeqNo': 21,
    'Total': 221},

  { 'Chemistry': 57,
    'CityTown': 'Nagercoil',
    'DateOfBirth': '17 Jul',
    'Gender': 'F',
    'Mathematics': 62,
    'Name': 'Priya',
    'Physics': 62,
    'SeqNo': 22,
    'Total': 181},

  { 'Chemistry': 88,
    'CityTown': 'Bengaluru',
    'DateOfBirth': '13 May',
    'Gender': 'F',
    'Mathematics': 97,
    'Name': 'Deepika',
    'Physics': 91,
    'SeqNo': 23,
    'Total': 276},

  { 'Chemistry': 58,
    'CityTown': 'Madurai',
    'DateOfBirth': '26 Dec',
    'Gender': 'M',
    'Mathematics': 44,
    'Name': 'Siddharth',
    'Physics': 72,
    'SeqNo': 24,
    'Total': 174},

  { 'Chemistry': 92,
    'CityTown': 'Chennai',
    'DateOfBirth': '16 May',
    'Gender': 'F',
    'Mathematics': 87,
    'Name': 'Geeta',
    'Physics': 75,
    'SeqNo': 25,
    'Total': 254},

  { 'Chemistry': 82,
    'CityTown': 'Chennai',
    'DateOfBirth': '22 Jul',
    'Gender': 'M',
    'Mathematics': 74,
    'Name': 'JK',
    'Physics': 71,
    'SeqNo': 26,
    'Total': 227},

  { 'Chemistry': 52,
    'CityTown': 'Madurai',
    'DateOfBirth': '4 Mar',
    'Gender': 'M',
    'Mathematics': 81,
    'Name': 'Jagan',
    'Physics': 76,
    'SeqNo': 27,
    'Total': 209},

  { 'Chemistry': 83,
    'CityTown': 'Madurai',
    'DateOfBirth': '10 Sep',
    'Gender': 'F',
    'Mathematics': 74,
    'Name': 'Nisha',
    'Physics': 83,
    'SeqNo': 28,
    'Total': 240},

  { 'Chemistry': 81,
    'CityTown': 'Vellore',
    'DateOfBirth': '13 Oct',
    'Gender': 'M',
    'Mathematics': 72,
    'Name': 'Naveen',
    'Physics': 66,
    'SeqNo': 29,
    'Total': 219}]

In [2]:
#def topMentors(scores,subject):
'''for i in  range(len(scores)):
    print(scores[i])'''

'for i in  range(len(scores)):\n    print(scores[i])'

In [3]:
maxi=0
d1={}
k=[]
for i in range (len(scores)):
    for j in range (len(scores)-1,-1,-1):
        if ((scores[i]['Physics']-scores[j]['Physics'])<=20) and ((scores[i]['Physics']-scores[j]['Physics'])>=10):
            val=scores[i]['SeqNo']
            key=scores[j]['SeqNo']
            if val not in d1:
                d1[val]=[key]
            else:
                d1[val].append(key)
for i in d1:
    d1[i].sort(key=int)
    k.append(len(d1[i]))
    maxi=max(k)

In [4]:
print(d1)

{0: [1, 2, 3], 4: [1, 2, 3], 5: [6, 10, 13, 17, 19, 24, 25, 27], 6: [0, 4, 8, 10, 12, 14, 20, 21, 22, 24, 26, 29], 7: [6, 10, 13, 17, 19, 24, 25, 27], 8: [1, 2, 3], 9: [10, 13, 19, 20, 21, 24, 25, 26, 27], 10: [2, 3, 14, 15, 22], 11: [6, 10, 13, 17, 19, 24, 25, 27], 12: [1, 2, 3], 13: [2, 3, 14, 15, 22], 14: [1], 15: [1], 16: [10, 13, 20, 21, 24, 25, 26, 27, 29], 17: [0, 4, 8, 12, 14, 20, 21, 22, 26, 29], 18: [6, 10, 13, 17, 19, 24, 25, 27], 19: [0, 4, 8, 12, 14, 15, 20, 22, 29], 20: [2, 3, 15], 21: [2, 3, 15], 22: [1], 23: [10, 13, 17, 19, 24, 25, 26, 27], 24: [2, 3, 14, 15, 22], 25: [0, 4, 8, 12, 14, 15, 22], 26: [2, 3, 15], 27: [0, 4, 8, 12, 14, 15, 22, 29], 28: [0, 4, 8, 10, 12, 13, 20, 21, 24, 26, 29], 29: [2, 3]}

In [5]:
print(maxi)

12

In [13]:
#print(max(k))
d2={}
for key in d1:
    if (len(d1[key])==12):
        if key not in d2:
            d2[key]=d1[key]
print(d2)

{6: [0, 4, 8, 10, 12, 14, 20, 21, 22, 24, 26, 29]}

In [8]:
i=0
maxi=len(d1[0])
s=k[i]
for i in range(len(d1)):
    while(s<30):
        if len(d1[s])> 12:
            maxi=len(d1[s])
        #print(maxi)
        s=k[i+1]

KeyError: 3

In [ ]:
print(maxi)

3
3
3

KeyError: 3

In [49]:
for x in k:
    s=k[0]
       
    while(s!=len(d1)):
    if (len(d1[s]))>=(maxi):
        maxi=len(d1[s])
       
    print(maxi)
    
print(d1)

IndentationError: expected an indented block (<ipython-input-49-74f3d12161be>, line 5)

In [69]:
for i in range (0,len(d1)):
        for j in range (4,len(d1)):
            maxi=0
            if len(d1[j])>len(d1[i]):
                maxi=len(d1[j])
                print(maxi)

8
12
8
9
5
8
5
9
10
8
9
8
5
7

KeyError: 1

In [42]:
#***Finale Showdown***😒😒

In [35]:
def topMentors(scores,subject):
    d1={}
    d2={}
    k=[]
    for i in range(len(scores)):
        for j in range(len(scores)-1,-1,-1):
            if((scores[i][subject]-scores[j][subject])<=20)and((scores[i][subject]-scores[j][subject])>=10):
                key=scores[i]['SeqNo']
                val=scores[j]['SeqNo']
                if key not in d1:
                    d1[key]=[val]
                else:
                    d1[key].append(val)
                    
    for i in d1:
        d1[i].sort(key=int)
        k.append(len(d1[i]))
    maxi=max(k)
    for key in d1:
        if (len(d1[key])==maxi):
            if key not in d2:
                d2[key]=d1[key]
            
    
        
    return(d2)

TypeError: object of type 'int' has no len()

In [38]:
print(topMentors(scores,'Mathematics'))

{7: [0, 5, 8, 10, 13, 18, 26, 28, 29]}