In [1]:
pwd

'C:\\Users\\KUNTAL'

In [1]:
f=open("WorldPopulation.csv","r")
line=f.readlines()

In [2]:
def solution():
    f=open("WorldPopulation.csv","r")
    mx=0
    for record in f:
        f1=record.split(',')
        if int(f1[2]> mx):
               mx = int(f1[2])
        return(mx)

In [6]:
line = ''
if  line:
    )

SyntaxError: invalid syntax (<ipython-input-6-756dc6e0c229>, line 3)

In [28]:
f=open("WorldPopulation.csv",'r')

In [31]:
scores=f.readlines()[1:]
mx=0
for record in scores:
    fields = record.split(',')
    if int(fields[3])>mx:
        mx=int(fields[3])
print(mx)

0

In [32]:
x='12345';y='78945'

In [33]:
len(x)+len(y)==len(x+y)

True

In [35]:
print(input()+input()+input())

1
2
3
123

In [3]:
def f(a,b,c=2,d=3):
    return a+b+c+d
print(f(2,3))

10

In [9]:
def assert(x):
    
    return x==int(str(x))

SyntaxError: invalid syntax (<ipython-input-9-01ee75e1b29b>, line 1)

In [10]:
l1=['Iplay', 'youPlay']
l2=['Badminton', 'cricket']

In [12]:
k=[]
l=[]
for x in l1[:-1]:
    for y in l2[:-1]:
        k.append(x)
        l.append(y)
        print(x,y)

Iplay Badminton

In [13]:
print(k)
print(l)

['Iplay']
['Badminton']

In [2]:
#creating a Nested list from the iunput
m=[ ]#creating an empty list
row=input() #accepting input as row
while row :
    t=[]
    for i in row.strip().split(' '):
        t.append(i)
    m.append(t)
    row = input()
#New nested list for the rotated matrix

m1=[]
for i in range(len(m[0])):
    m1.append([])
    for j in range(len(m)):
        m1[i].append(0)
#transformation 
##Transpose
for i in range (len(m)):
    for j in range(len(m[0])):
        m1[j][i]=m[i][j]
# fliping  the rows of the transposed matricx
m1=m1[::-1]
# printing the rotated matrix 
for i in range (len(m1)):
    for j in range(len(m1[0])):
        if j!=len(m1[0])-1:
            print(m1[i][j],end=' ')
        else:
            print(m1[i][j], end='')
    print()

1 2 3
4 5 6

3 6
2 5
1 4

In [3]:
print(m1)

[['3', '6'], ['2', '5'], ['1', '4']]

In [14]:
m=[]
row=input()
while row:
    t=[]
    for i in row.strip().split(' '):
        t.append(i)
    m.append(t)    
    row=input()

m1=[]
for i in range (len(m[0])):
    m1.append([])
    for j in range(len(m)):
        m1[i].append(0)

        
for i in range (len(m)):
    for j in range(len(m[0])):
        m1[j][i]=m[i][j]
print(m1)

1 2 3
4 5 6

[['1', '4'], ['2', '5'], ['3', '6']]

In [21]:
m=[]
row=input('Provide values sep by space')
while row:
    t=[]
    for i in row.strip().split(' '):
        t.append(i)
    m.append(t)
    row=input('Provide values sep by space')

    
    
#Work for Transpose matrix M1

m1=[]
for i in range (len(m[0])):
    m1.append([])
    for j in range (len(m)):
        m1[i].append(0)
        
for i in range (len(m)):
    for j in range (len(m[0])):
        m1[j][i]=m[i][j]
print(m1)

Provide values sep by space1 2 3
Provide values sep by space4 5 6
Provide values sep by space
[['1', '4'], ['2', '5'], ['3', '6']]

In [1]:
t=(10,23,30)

In [2]:
t[2]

30

In [3]:
t.append(20)

AttributeError: 'tuple' object has no attribute 'append'

In [4]:
t.remove(10)

AttributeError: 'tuple' object has no attribute 'remove'

In [5]:
t=t+(30,55)

In [6]:
t=t*3

In [7]:
print(10.0//1)

10.0

In [16]:
x="python"

In [17]:
for num in x:
    print(num,end="")

python

In [18]:
k=5*4//2

In [19]:
k

10

In [3]:
f

In [4]:
print(f)

<_io.TextIOWrapper name='WorldPopulation.csv' mode='r' encoding='cp1252'>

In [5]:
print(line)

['Year,Population,ChangePerc,NetChange,Density,Urban,UrbanPerc\n', '2020,7794798739,1.05,81330639,52,4378993944,56\n', '2019,7713468100,1.08,82377060,52,4299438618,56\n', '2018,7631091040,1.1,83232115,51,4219817318,55\n', '2017,7547858925,1.12,83836876,51,4140188594,55\n', '2016,7464022049,1.14,84224910,50,4060652683,54\n', '2015,7379797139,1.16,84506374,50,3981497663,54\n', '2014,7295290765,1.17,84708789,49,3902831934,53\n', '2013,7210581976,1.19,84753917,48,3824990329,53\n', '2012,7125828059,1.2,84633758,48,3747842586,53\n', '2011,7041194301,1.21,84370698,47,3671423872,52\n', '2010,6956823603,1.22,84056510,47,3594868146,52\n', '2009,6872767093,1.23,83678407,46,3516830263,51\n', '2008,6789088686,1.24,83142076,46,3439719128,51\n', '2007,6705946610,1.24,82428777,45,3363609560,50\n', '2006,6623517833,1.25,81610806,44,3289446226,50\n', '2005,6541907027,1.25,80747638,44,3215905863,49\n', '2004,6461159389,1.25,79974275,43,3143044892,49\n', '2003,6381185114,1.26,79411926,43,3071743997,48\n', '2002,6301773188,1.27,79146582,42,3001808223,48\n', '2001,6222626606,1.29,79132783,42,2933078510,47\n', '2000,6143493823,1.31,79254768,41,2868307513,47\n', '1999,6064239055,1.33,79445113,41,2808231655,46\n', '1998,5984793942,1.35,79748154,40,2749213598,46\n', '1997,5905045788,1.38,80153837,40,2690813541,46\n', '1996,5824891951,1.4,80678972,39,2632941583,45\n', '1995,5744212979,1.43,81062552,39,2575505235,45\n', '1994,5663150427,1.46,81552881,38,2518254111,44\n', '1993,5581597546,1.5,82677737,37,2461223528,44\n', '1992,5498919809,1.56,84630365,37,2404337297,44\n', '1991,5414289444,1.63,87058383,36,2347462336,43\n', '1990,5327231061,1.71,89789503,36,2290228096,43\n', '1989,5237441558,1.79,92015550,35,2233140502,43\n', '1988,5145426008,1.84,92903861,35,2176126537,42\n', '1987,5052522147,1.85,91954235,34,2118882551,42\n', '1986,4960567912,1.84,89646172,33,2062604394,42\n', '1985,4870921740,1.82,86910119,33,2007939063,41\n', '1984,4784011621,1.8,84442317,32,1955106433,41\n', '1983,4699569304,1.78,82182762,32,1903822436,41\n', '1982,4617386542,1.77,80389780,31,1854134229,40\n', '1981,4536996762,1.77,78993248,30,1804215203,40\n', '1980,4458003514,1.77,77497414,30,1754201029,39\n', '1979,4380506100,1.76,75972599,29,1706021638,39\n', '1978,4304533501,1.77,75027441,29,1659306117,39\n', '1977,4229506060,1.8,74839196,28,1616419308,38\n', '1976,4154666864,1.84,75186258,28,1577376141,38\n', '1975,4079480606,1.89,75686434,27,1538624994,38\n', '1974,4003794172,1.94,76013934,27,1501134655,37\n', '1973,3927780238,1.98,76129993,26,1462178370,37\n', '1972,3851650245,2.01,75890628,26,1424734781,37\n', '1971,3775759617,2.04,75322571,25,1388834099,37\n', '1970,3700437046,2.06,74756419,25,1354215496,37\n', '1969,3625680627,2.09,74081500,24,1319833474,36\n', '1968,3551599127,2.09,72829165,24,1285933432,36\n', '1967,3478769962,2.08,70847332,23,1252566565,36\n', '1966,3407922630,2.05,68339033,23,1219993032,36\n', '1965,3339583597,2,65605259,22,1188469224,36\n', '1964,3273978338,1.96,62977329,22,1157813355,35\n', '1963,3211001009,1.92,60580214,22,1122561940,35\n', '1962,3150420795,1.89,58577288,21,1088376703,35\n', '1961,3091843507,1.87,56893759,21,1055435648,34\n', '1960,3034949748,1.86,55373563,20,1023845517,34\n', '1959,2979576185,1.84,53889480,20,992820546,33\n', '1958,2925686705,1.82,52380615,20,962537113,33\n', '1957,2873306090,1.8,50862808,19,933113168,32\n', '1956,2822443282,1.78,49423346,19,904685164,32\n', '1955,2773019936,1.77,48173195,19,877008842,32\n', '1954,2724846741,1.76,47237781,18,850179106,31\n', '1953,2677608960,1.78,46747398,18,824289989,31\n', '1952,2630861562,1.81,46827301,18,799282533,30\n', '1951,2584034261,1.88,47603112,17,775067697,30']

In [7]:
x=str(input())
y=len(x)

cab

In [8]:
print(y)

3